
<!DOCTYPE html>
<html>
<head>
<title>My Facebok</title>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">



</head>

<body>

<%if logged_in?%>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">

     <!-- Logo -->
     <div class="navbar-header">
       <a href="/user/dashboard" class="navbar-brand">Facebook</a>
     </div>
     <!-- Menu Item -->
     <div>
      <ul class="nav navbar-nav">
        <li ><a href="#">notification!</a></li>
        <li><a href="#">About</a></li>

        <form class="navbar-form navbar-right" method = 'post' action ='/user/<%= @user.id %>/post/new'>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="post what is in your mind" name="post[text]">
        </div>
        <button type="submit" class="btn btn-default">Post</button>
        </form>


        <li class="dropdown" class="nav navbar-nav navbar-right">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @user.username %>  <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/user/profile">My Profile</a></li>
            <li><a href="#">Setting</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/user/logout">Logout</a></li>

      </ul>

     </div>

    </div>

  </nav>
<%else %>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">

   <!-- Logo -->
   <div class="navbar-header">
     <a href="#" class="navbar-brand">Facebook</a>
   </div>
   <!-- Menu Item -->
   <div>

    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Signup</a></li>
    </ul>

       <form class="navbar-form navbar-right" method = 'post' action ='/user/login'>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Email" name="user[email]">
          <input type="password" class="form-control" placeholder="Password" name="user[password]">
        </div>
        <button type="submit" class="btn btn-default">Login</button>
      </form>



   </div>

  </div>

</nav>


<%end %>



<%=yield%>


<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>

</html>
